<div class="login-page">
  <!-- LEFT SIDE -->
  <section class="brand-panel">
    <div class="brand-content">
      <div class="logo">
        Paretto<span>.</span>
      </div>
      <div class="brand-message">
        <h1>
          Escaneá los murales de tu ciudad,<br>
          compartilos en la plataforma,<br>
          y descubrí nuevos murales!
        </h1>
        <div class="separator"></div>
      </div>
    </div>

    <div class="brand-image">
      <img src="/images/login-background.jpg" alt="Paretto" />
    </div>
  </section>


  <!-- RIGHT SIDE -->
  <section class="form-panel">
    <div class="login-container">
      <ng-content />
    </div>
  </section>

</div>